---
import BaseLayout from "@layouts/BaseLayout.astro";
import sort from "@utils/sort";

import type { Post } from "@type/post";
type Props = Post;

export async function getStaticPaths() {
  const allPosts = await Astro.glob("./../../contents/*.mdx");
  const allSortedPosts = sort(allPosts);

  return allSortedPosts.map((post) => ({
    params: { slug: post.frontmatter.slug },
    props: { ...post },
  }));
}

const { Content, frontmatter } = Astro.props;
const title = frontmatter.title;
const description = `この記事では、${frontmatter.title}を掲載します。`;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <Content />
</BaseLayout>
