<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Yeseva+One"
/>
<h2>RuiOkazaki.Blog</h2>

<style lang="scss">
  h2 {
    font-family: "Yeseva One", sans-serif;
  }
</style>
