<h2><a href="/">RuiOkazaki.Blog</a></h2>

<style lang="scss">
  @import url(//fonts.googleapis.com/css?family=Yeseva+One);
  h2 {
    font-family: "Yeseva One", sans-serif;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    a:hover {
      color: #3b82f6;
    }

    @media only screen and (max-width: 37.5rem) {
      font-size: 1.5rem;
    }
  }
</style>
