---
import PostCard from "@components/PostCard.astro";
import type { Post } from "@type/post";

type Props = { posts: Post[] };

const { posts } = Astro.props;
---

<section>
  {posts.map((post) => <PostCard post={post} />)}
</section>
