---
import { BrandTwitter, BrandGithub } from "tabler-icons-react";

const snsIds = {
  twitter: "RuiOkazaki_",
  github: "RuiOkazaki",
};
---

<header>
  <div class="wrap">
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>
    <div class="links">
      <a href={`https://twitter.com/${snsIds.twitter}`} target="_blank">
        <BrandTwitter size={"1.1rem"} />
      </a>
      <a href={`https://github.com/${snsIds.github}`} target="_blank">
        <BrandGithub size={"1.1rem"} />
      </a>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    width: 100%;
    box-shadow: 0 2px 18px -1px rgb(32 32 37 / 15%);
  }
  .wrap {
    max-width: 62.5rem;
    width: 95%;
    margin-inline: auto;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      height: 70px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-inline: 0.8rem;
        font-weight: bold;
        font-size: 0.75rem;
        &:hover {
          color: #3b82f6;
        }
      }
    }
  }
  .wrap,
  .links,
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
</style>
