---
import BlogTitle from "@components/BlogTitle.astro";
import Favicon from "@components/Favicon.astro";
import HorizonalLine from "@components/HorizonalLine.astro";
import SiteFooter from "@components/SiteFooter.astro";
import SiteHeader from "@components/SiteHeader.astro";
import "ress";

const titleTemplate = (title?: string) => {
  const blogTitle = "RuiOkazaki.blog";
  return title ? `${title} | ${blogTitle}` : blogTitle;
};

type Props = {
  title?: string;
};
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Favicon />
    <title>{titleTemplate(title)}</title>
  </head>
  <SiteHeader />
  <main>
    <BlogTitle />
    <HorizonalLine />
    <div class="contents">
      <slot />
    </div>
  </main>
  <SiteFooter />

  <style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Noto+Sans+JP:wght@400;700&display=swap");
    * {
      color: #333;
      transition: all 0.2s ease-in-out;
    }
    body {
      width: 100%;
      font-family: "Yu Gothic", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "Noto Sans JP",
        "ＭＳ Ｐゴシック", sans-serif;

      display: grid;
      grid-template-rows: auto 1fr auto;
      height: 100vh;
    }

    main {
      margin-inline: auto;
      padding-block: 1rem;
      width: 90%;
      max-width: 62.5rem;
      @media only screen and (max-width: 37.5rem) {
        width: 100%;
        padding-inline: 0.5rem;
      }
    }

    a {
      text-decoration: none;
    }
    ul {
      list-style: none;
    }
    svg {
      stroke: #333;
      &:hover {
        stroke: #3b82f6;
      }
    }
    .tags {
      svg {
        stroke: #9ca3af;
      }
    }
    footer {
      svg {
        stroke: #9ca3af;
        fill: #9ca3af;

        &:hover {
          stroke: #3b82f6;
          fill: #3b82f6;
        }
      }
    }
  </style>


</html>
